@model List<FirstWebApplication.Models.Cinema>
@{
    ViewBag.Title = "Cinema List";
}

<h2>Cinema List</h2>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Adress</th>
    </tr>
    @foreach (var cinema in Model)
    {
        <tr>
            <td>@cinema.CinemaName</td>
            <td>@cinema.Adress</td>
        </tr>
    }
</table>

