@model List<MovieApp.Models.Cinema>
@{
    ViewBag.Title = "Cinema list";
}

<h2>Cinema list</h2>

@Html.ActionLink("Pievienot jaunu", "Edit", "Cinema", null, new { @class="btn btn-success"})
<br /><br />
<table class="table table-striped">
    <tr>
        <th>Nosaukums</th>
        <th>Adrese</th>
        <th></th>
    </tr>
    @foreach(var cinema in Model)
    {
        <tr>
            <td>@Html.ActionLink(cinema.Name, "Edit", "Cinema", new { id = cinema.Id }, null)</td>
            <td>@cinema.Adress</td>
        </tr>
    }
</table>