@model List<NewsApp.Models.Topic>
@{
    ViewBag.Title = "Topics";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            @foreach (var topic in Model)
            {
                <li><a href="#">@topic.Topics</a></li>
            }
            </ul>
    </div>
</nav>