@model NewsApp.ViewModels.MyModel
@{
    ViewBag.Title = "Topics";
}

<nav class="navbar navbar-default" id="navbar-topic">
    <div class="container-fluid">
        <ul class="nav navbar-nav" style="position:relative; left: -22px;">
            @foreach (var topic in Model.Topics)
            {
            <li id="topic-hover">
                @Html.ActionLink(topic.Topic1, "Topics", "News", new { topic.Id }, null)
            </li>      
            }
        </ul>
    </div>
</nav>

<div class="container">
    <h2>
        @Model.Topic.Topic1
    </h2>
    <div class="row row-main">
        @{
            foreach (var news in Model.News)
            {
                {
                    <div class="col-md-4 news-main">
                        <div class="panel panel-default">
                            <div class="panel-body"><img src=@news.Picture class="img-responsive" alt="Image"></div>
                            <div class="panel-footer">
                                <a class="news-topic"><h4>@Html.ActionLink(news.Name, "NewsText", "News", new { news.Id }, null)</h4></a>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>